<!-- templates/restaurants/add_category.html -->

{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'restaurants/css/add_category.css' %}">
<style>
  body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url("{% static 'restaurants/images/back-6.png' %}") center/cover no-repeat fixed;
  color: #333;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
</style>
{% endblock %}


{% block content %}
<br><br><br>
  <h1 style="font-family: 'Pacifico', cursive;"class="text-warning">Add New Category</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <a href="{% url 'restaurants:category_list' %}" class="btn btn-secondary mt-3">Back to Category List</a>
{% endblock %}


