{% extends 'base.html' %}
{%load static%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'restaurants/css/update_reservation_status.css' %}">
<style>
    body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url("{% static 'restaurants/images/about-1.jpg' %}") center/cover no-repeat fixed;
    color: #333;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
</style>
{% endblock %}

{% block content %}
<br><br><br><br>


<form method="post">
    <h2>Update Reservation Status</h2>
<p style="font-family: 'Pacifico', cursive;">Reservation for {{ reservation.user.username }} on {{ reservation.reservation_date }}</p>
    {% csrf_token %}
    <label for="status">Reservation Status:</label>
    <select name="status" id="status">
        <option value="Confirmed" {% if reservation.status == 'Confirmed' %}selected{% endif %}>Confirmed</option>
        <option value="Rejected" {% if reservation.status == 'Rejected' %}selected{% endif %}>Rejected</option>
        <option value="Cancelled" {% if reservation.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
    </select>
    <button type="submit">Update Status</button>
</form>
{% endblock %}