{% extends "base.html" %}
{%load static%}
{% block content %}
{% block extra_css %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url("{% static 'restaurants/images/back-3.png' %}") center/cover no-repeat fixed;
        color: #333;
        background-size: cover;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    .reset-container {
        max-width: 500px;
        background: rgba(255, 255, 255, 0.85);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin: 100px auto;
        text-align: center;
    }

    h2 {
        color: #007bff;
        font-size: 32px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    a.btn {
        text-decoration: none;
        padding: 12px 20px;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

    a.btn:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}

  <div class="reset-container">
    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset. You can now log in with your new password.</p>
    <a href="{% url 'user:user_login' %}" class="btn btn-primary">Go to Login Page</a>
  </div>
{% endblock %}
